/*------------
--- Colors ---
------------*/
$black: #000;
$blue: #244474;
$green: #6BE8AB;
$lightBlue: #29C8FB;
$lightBlue: #F6FAFF;
$sizes: 0;

$mainBreakpoint: "lg";

$colors: (
  'black': $black
);
