.banner-main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 79vh;

  .et_pb_text_inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1,
    h2,
    h3,
    h4,
    h5 {
      text-transform: uppercase;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    p {
      color: #fff;
    }

    p {
      font-size: 30px;
      max-width: 400px;
      text-align: center;
      line-height: 1.1;
    }
  }
}
