.btn {
  background-color: #fff;
  border: 3px solid $blue;
  border-radius: 50px;
  color: $blue;
  font-size: 1.125rem;
  font-weight: bold;
  max-width: 100%;
  padding: 1rem 4rem;
  transition: all .5s;

  @include media-breakpoint-up(md) {
    padding: 1rem 7rem;
  }

  &:hover {
    background-color: $blue !important;
    border: 3px solid $blue !important;
    color: #fff;
    padding: 1rem 4rem !important;

    @include media-breakpoint-up(md) {
      padding: 1rem 7rem !important;
    }

    &:after {
      content: none;
    }
  }
}

.btn-inverse {
  background-color: $blue;
  border: 3px solid $blue;
  border-radius: 50px;
  color: #fff;
  font-size: 1.125rem;
  font-weight: bold;
  max-width: 100%;
  padding: 1rem 4rem;
  transition: all .5s;

  @include media-breakpoint-up(md) {
    padding: 1rem 7rem;
  }

  &:hover {
    background-color: #fff !important;
    border: 3px solid $blue !important;
    color: $blue !important;
    padding: 1rem 4rem !important;

    @include media-breakpoint-up(md) {
      padding: 1rem 7rem !important;
    }

    &:after {
      content: none;
    }
  }
}

.btn-green {
  background: linear-gradient(180deg, #6BE8AB 0%, #29C8FB 100%);
  border: 3px solid #fff;
  border-radius: 50px;
  color: #fff;
  font-size: 1.125rem;
  font-weight: bold;
  max-width: 100%;
  padding: 1rem 4rem;
  transition: all .5s;

  @include media-breakpoint-up(md) {
    padding: 1rem 7rem;
  }

  &:hover {
    background: #fff !important;
    border: 3px solid $blue !important;
    color: $blue !important;

    padding: 1rem 4rem !important;

    @include media-breakpoint-up(md) {
      padding: 1rem 7rem !important;
    }

    &:after {
      content: none;
    }
  }
}
